<div>
    <h2 id="page-heading">
        <span jhiTranslate="yourOrderFor">Your order for housefarm</span> {{cartProducts[0].houseFarm.name}}
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="cartProducts?.length === 0">
        <span jhiTranslate="addItemsToCart">No house farms found</span>
    </div>
    <button type="button" *ngIf="cartProducts?.length === 0" [routerLink]="['/product']" class="btn btn-success btn-md">
        <fa-icon icon="bread-slice" fixedWidth="true"></fa-icon>
        <span jhiTranslate="opgappApp.product.home.title"></span>
    </button>
    <div class="table-responsive" *ngIf="cartProducts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>#</span></th>
                <th><span jhiTranslate="opgappApp.product.name">Number</span></th>
                <th><span jhiTranslate="opgappApp.product.productType">Total Price</span></th>
                <th><span jhiTranslate="opgappApp.product.price">Total Price</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of cartProducts;let i = index">
                <td>
                    {{i+1 + '.'}}
                </td>
                <td>
                    <b>{{product.name}}</b>
                </td>
                <td>
                    {{'opgappApp.ProductType.' + product.productType | translate}}
                </td>
                <td>
                    {{product.price}} kn
                </td>
                <td>
                    <button class="float-right btn-danger btn-sm" *ngIf="product"
                            (click)="removeFromCart(product.id);">
                        <fa-icon icon="times"></fa-icon>
                    </button>
                </td>
            </tr>
            <br/>
            <tr>
                <td></td>
                <td><h6 jhiTranslate="opgappApp.order.totalPrice"></h6></td>
                <td></td>
                <td>{{totalPrice}} kn</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                (click)="finishOrder()"
                                class="btn btn-success btn-lg float-right">
                            <fa-icon icon="arrow-right" fixedWidth="true"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="sendOrderRequest">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
