<div *ngIf="product">
    <h2 id="page-heading">
        <span>Ratings for {{product.name}} ({{product.houseFarm.name}})</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rating"
                [routerLink]="['/rating', product.id, 'new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Add a new Rating
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="product.ratings?.length === 0">
        <span>No ratings found</span>
    </div>
    <div *ngIf="product.ratings?.length > 0">
        <ul class="list-group">
            <li class="list-group-item col-md-3" *ngFor="let rating of product.ratings ;trackBy: trackId">
                <h6>{{rating.user.firstName + ' ' + rating.user.lastName}}</h6>
                {{rating.comment}} ({{rating.stars}} stars)
            </li>
        </ul>
<!--        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="opgappApp.rating.stars">Stars</span></th>
                <th><span jhiTranslate="opgappApp.rating.comment">Comment</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let rating of product.ratings ;trackBy: trackId">
                <td>{{rating.stars}}</td>
                <td>{{rating.comment}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/rating', rating.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/rating', rating.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'rating', { outlets: { popup: rating.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>-->
    </div>
</div>
