<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid background">
    <div class="card jh-card opacity col-md-11">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
</div>
<p class="footer"><b>OPG online</b> © mstuban 2019.</p>

<style>
    .background {
        background: url('../../../content/images/carrots_tomatoes.jpg') no-repeat center top;
        background-size: cover;
        min-height: 92vh;
        max-height: 95vh;
        overflow-y: auto;
        /*padding-top: 1vh;*/
    }

    .opacity {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2vh;
    }
</style>
