<div class="row justify-content-left product-detail-container">
    <div class="col-12">
        <jhi-alert></jhi-alert>
        <div *ngIf="product" class="row">
            <div class="col-6">
                <h2><span>{{product.name}}</span>
        <span>
            <span *ngIf="product.houseFarm && cartProducts !== null && !isInCart">
                <span *ngIf="product.houseFarm.user && currentAccount && cartProducts.indexOf(this.product) === -1">
                    <button *ngIf="product.houseFarm.user.id !== currentAccount.id &&
                        this.product.isAvailable"
                        (click)="addProductToCart()"
                        class="btn btn-success btn-sm">
                        <fa-icon [icon]="'cart-plus'"></fa-icon>
                    <span jhiTranslate="addToCart"></span>
                    </button>
                </span>
            </span>
        </span>
                </h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="row-md jh-entity-details">
                    <dt><span jhiTranslate="opgappApp.product.name">Name</span></dt>
                    <dd>
                        <span>{{product.name}}</span>
                    </dd>
                    <dt><span jhiTranslate="opgappApp.product.price">Price</span></dt>
                    <dd>
                        <span>{{product.price}} kn</span>
                    </dd>
                    <dt><span jhiTranslate="opgappApp.product.availableAmountInLiters">Available Amount In Liters</span>
                    </dt>
                    <dd>
                        <span>{{product.availableAmountInLiters}}</span>
                    </dd>
                    <dt><span
                        jhiTranslate="opgappApp.product.availableAmountInKilograms">Available Amount In Kilograms</span>
                    </dt>
                    <dd>
                        <span>{{product.availableAmountInKilograms}}</span>
                    </dd>
                    <dt><span jhiTranslate="opgappApp.product.isAvailable">In Stock</span></dt>
                    <dd>
                    <span>
                        <fa-icon *ngIf="product.isAvailable" [icon]="'check-square'"></fa-icon>
                        <fa-icon *ngIf="!product.isAvailable" [icon]="'ban'"></fa-icon>
                    </span>
                    </dd>
                    <dt><span jhiTranslate="opgappApp.product.productType">Product Type</span></dt>
                    <dd>
                    <span
                        jhiTranslate="{{'opgappApp.ProductType.' + product.productType}}">{{product.productType}}</span>
                    </dd>
                </dl>
            </div>
            <div class="col-6 text-center" *ngIf="product.image">
                <img class="img-fluid rounded img-thumbnail" [src]="'data:image/png;base64,' +
                 product.image.byteArray"/>
            </div>
        </div>
        <div class="col-12">
            <h2 id="page-heading">
                <span jhiTranslate="opgappApp.rating.home.title"></span>
            </h2>
            <hr>
            <div class="alert alert-warning" *ngIf="product.ratings?.length === 0">
                <span jhiTranslate="opgappApp.rating.home.notFound">No ratings found</span>
            </div>
            <div *ngIf="product.ratings?.length > 0" class="rating-container">
                <b jhiTranslate="opgappApp.rating.home.averageRating"></b>:
                <small>({{averageRating | number : '1.2-2'}})</small>
                <hr/>
                <ul class="list-group rating-list">
                    <li class="list-group-item col-md-3" *ngFor="let rating of product.ratings ;trackBy: trackId">
                        <h6 *ngIf="rating.user">{{rating.user.firstName + ' ' + rating.user.lastName}}</h6>
                        {{rating.comment}} ({{rating.stars}}
                        <fa-icon [icon]="'star'"></fa-icon>
                        )
                    </li>
                </ul>
            </div>
            <br/>
            <span *ngIf="product.houseFarm &&  product.houseFarm.user && currentAccount">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
                    <button type="button" *ngIf="product.houseFarm.user.id === currentAccount.id"
                            [routerLink]="['/product', product.houseFarm.id, product.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span
                        jhiTranslate="entity.action.edit"> Edit</span>
                    </button>

                    <button type="button" *ngIf="product.houseFarm.user.id !== currentAccount.id"
                            [routerLink]="['/rating', product.id, 'new']"
                            class="btn btn-danger">
                        <fa-icon [icon]="'heart'"></fa-icon>&nbsp;<span
                        jhiTranslate="opgappApp.rating.home.createLabel"> Add rating</span>
                    </button>
                </span>
        </div>
    </div>
</div>
</div>
<style>
    .rating-container {
        max-height: 30vh;
    }

    .rating-list {
        max-height: 20vh;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
</style>
