<div>
    <h2 id="page-heading">
        <span jhiTranslate="opgappApp.product.home.title">All available products</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="products?.length === 0">
        <span jhiTranslate="opgappApp.product.home.notFound">No products found</span>
    </div>
    <div class="table-responsive" *ngIf="products?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr jhiSort>
                    <th jhiSortBy="name"><span jhiTranslate="opgappApp.product.name">Name</span></th>
                    <th jhiSortBy="price"><span jhiTranslate="opgappApp.product.price">Price</span></th>
                    <th jhiSortBy="isAvailable"><span jhiTranslate="opgappApp.product.isAvailable">In Stock</span></th>
                    <th jhiSortBy="product"><span jhiTranslate="opgappApp.product.productType">Product Type</span></th>
                    <th><span jhiTranslate="opgappApp.product.houseFarm">House Farm</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><h6>{{product.name}}</h6></td>
                <td>{{product.price}} kn</td>
                <td>
                    <fa-icon *ngIf="product.isAvailable" [icon]="'check-square'"></fa-icon>
                    <fa-icon *ngIf="!product.isAvailable" [icon]="'ban'"></fa-icon>
                </td>
                <td jhiTranslate="{{'opgappApp.ProductType.' + product.productType}}">{{product.productType}}</td>
                <td>
                    <div *ngIf="product.houseFarm">
                        <a [routerLink]="['../house-farm', product.houseFarm?.id, 'view' ]" >{{product.houseFarm?.name}}</a>
                    </div>
                </td>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product', product.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <span *ngIf="product.houseFarm && product.houseFarm.user">
                            <button type="submit" *ngIf="product.houseFarm.user.id === currentAccount.id"
                                    [routerLink]="['/product', product.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
