<div>
    <h2 id="page-heading" class="col-md-12">
        <span jhiTranslate="opgappApp.houseFarm.home.title">House Farms</span>
        <span *ngIf="!userAlreadyHasFarm">
            <button *jhiHasAnyAuthority="'ROLE_OWNER'" id="jh-create-entity"
                    class="btn btn-primary float-right jh-create-entity create-house-farm"
                    [routerLink]="['/house-farm/new']">
                <fa-icon *jhiHasAnyAuthority="'ROLE_OWNER'" [icon]="'plus'"></fa-icon>
                <span *jhiHasAnyAuthority="'ROLE_OWNER'" jhiTranslate="opgappApp.houseFarm.home.createLabel">
                </span>
            </button>
        </span>
    </h2>
    <jhi-alert class="col-md-8"></jhi-alert>
    <hr/>
    <div class="form-group col-md-3">
        <div class="input-group">
            <input id="field_name" type="text" class="form-control" #nameFilterInput
                   placeholder=""
                   (keyup)="filterProducts()"/>
            <div class="input-group-append">
                <button class="btn btn-success"
                        id="basic-addon2" (click)="resetFilters()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                    jhiTranslate="opgappApp.product.home.deleteFilters"> Edit</span>
                </button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr *ngFor="let houseFarm of houseFarms ;trackBy: trackId">
                <td>
                    <h5>{{houseFarm.name}} <h6>({{houseFarm.user.firstName + ' ' + houseFarm.user.lastName}})</h6></h5>
                </td>
                <td *ngIf="houseFarm.products.length > 0 && houseFarm.products.length !== 1">
                    {{houseFarm.products.length}} <span jhiTranslate="opgappApp.product.home.title"></span>
                </td>
                <td *ngIf="houseFarm.products.length === 1">
                    {{houseFarm.products.length}} <span jhiTranslate="opgappApp.product.detail.title"></span>
                </td>

                <td *ngIf="houseFarm.products.length === 0">
                    {{houseFarm.products.length}} <span jhiTranslate="opgappApp.product.home.products"></span>
                </td>

                <td>
                    <span *ngIf="houseFarm.location">
                        {{houseFarm.location?.streetAddress + ', ' + houseFarm.location?.city + ' '}}
                        <br/>
                        <b>{{houseFarm.location?.province}}</b>
                    </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/house-farm', houseFarm.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <span *ngIf="currentAccount && houseFarm.user">
                            <button type="submit" *ngIf="houseFarm.user.id === currentAccount.id"
                                    [routerLink]="['/house-farm', houseFarm.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="alert alert-warning" *ngIf="houseFarms?.length === 0">
        <span jhiTranslate="opgappApp.houseFarm.home.notFound">No house farms found</span>
    </div>
</div>
