<div class="row justify-content-left">
    <div class="col-12">
        <div *ngIf="houseFarm">
            <h2><span>{{houseFarm.name}}</span>
                <span *ngIf="houseFarm.user && currentAccount">
                    <small>({{houseFarm.user.firstName + ' ' + houseFarm.user.lastName}})</small>
                </span>
                <span *ngIf="houseFarm.user && currentAccount">
                    <button type="submit" *ngIf="houseFarm.user.id === currentAccount.id"
                            [routerLink]="['/', 'house-farm', { outlets: { popup: houseFarm.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
            </span>
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="opgappApp.houseFarm.hasLicense">Licensed and verified</span></dt>
                <dd>
                    <fa-icon *ngIf="houseFarm.hasLicense" [icon]="'check-square'"></fa-icon>
                    <fa-icon *ngIf="!houseFarm.hasLicense" [icon]="'ban'"></fa-icon>
                </dd>
                <dt><span jhiTranslate="opgappApp.houseFarm.dateFounded">Date Founded</span></dt>
                <dd>
                    <span>{{houseFarm.dateFounded | date: 'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span jhiTranslate="opgappApp.houseFarm.contactNumber">Contact Number</span></dt>
                <dd>
                    <span>{{houseFarm.contactNumber}}</span>
                </dd>
                <dt>Location</span></dt>
                <dd>
                    <div *ngIf="houseFarm.location">
                        {{houseFarm.location.streetAddress}}, {{houseFarm.location?.postalCode}},
                        {{houseFarm.location?.city}}
                    </div>
                </dd>
            </dl>

            <br/>
            <div class="alert alert-warning" *ngIf="houseFarm.products?.length === 0">
                <span jhiTranslate="opgappApp.product.home.notFound">No products found</span>
            </div>
            <div class="table-responsive" *ngIf="houseFarm.products?.length > 0">
                <h4><span jhiTranslate="opgappApp.product.home.title">Products available:</span></h4>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><span jhiTranslate="opgappApp.product.name">Name</span></th>
                        <th><span jhiTranslate="opgappApp.product.price">Price</span></th>
                        <th><span
                            jhiTranslate="opgappApp.product.availableAmountInLiters">Available Amount In Liters</span>
                        </th>
                        <th><span jhiTranslate="opgappApp.product.availableAmountInKilograms">Available Amount In Kilograms</span>
                        </th>
                        <th><span jhiTranslate="opgappApp.product.isAvailable">Available</span></th>
                        <th><span jhiTranslate="opgappApp.product.productType">Product Type</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of houseFarm.products ;trackBy: trackId">
                        <td>{{product.name}}</td>
                        <td>{{product.price}} kn</td>
                        <td>{{product.availableAmountInLiters}}</td>
                        <td>{{product.availableAmountInKilograms}}</td>
                        <td>
                            <fa-icon *ngIf="product.isAvailable" [icon]="'check-square'"></fa-icon>
                            <fa-icon *ngIf="!product.isAvailable" [icon]="'ban'"></fa-icon>
                        </td>
                        <td jhiTranslate="{{'opgappApp.ProductType.' + product.productType}}">{{product.productType}}
                        </td>
                        <td class="text-right" *jhiHasAnyAuthority="'ROLE_OWNER'">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/product', product.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>

                                <span *ngIf="houseFarm.user && currentAccount">
                                    <button type="submit" *ngIf="houseFarm.user.id === currentAccount.id"
                                            [routerLink]="['/product', houseFarm.id, product.id, 'edit']"
                                            class="btn btn-primary btn-sm">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit" *ngIf="houseFarm.user.id === currentAccount.id"
                                            [routerLink]="['/', 'product', { outlets: { popup: product.id + '/delete'} }]"
                                            replaceUrl="true"
                                            queryParamsHandling="merge"
                                            class="btn btn-danger btn-sm">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline"
                                              jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <span *ngIf="houseFarm.user && currentAccount">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                </button>
                <span *ngIf="houseFarm.user.id === currentAccount.id">
                <button type="button"
                        [routerLink]="['/house-farm', houseFarm.id, 'edit']"
                        class="btn btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                </button>

                <button *ngIf="currentAccount.id === houseFarm.user.id" id="jh-create-entity"
                        class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/product',
                         houseFarm.id, 'new']">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span jhiTranslate="opgappApp.product.home.createLabel">
                Create new Product
                </span>
                </button>
                </span>
            </span>
        </div>
    </div>
</div>
